/* style sheet for channel-e documents */

body {
    color: #000; 
	background-color: #fff;
    background-image: url(images/channel-e_logo.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: medium;
    margin: 4px 54px 4px 4px;
}

div.footer {
    margin-top: 1ex;
    border-top: 1px #333 solid;
}

div.footer p {
    font-size: small;
    color: #666; 
	background-color: inherit;
}

h1 {
    color: #fff; 
	background-color: #996;
    margin: 0;
    padding: 0.2ex 0.4ex;
    border: 1px solid #993; 
    font-size: x-large;
}

h2 {
    color: #000; 
	background-color: #cc9;
    padding: 0.2ex 0.4ex;
    margin: 0 0 1ex 0;
}

h3 {
    margin: 0.4ex;
}

h4 {
	margin: 2ex 1ex 0.5ex 1ex;
    padding: 0 0.5ex 0 0.5ex;
    color: inherit;
    background-color: #eec;
}

p, table {
    margin: 1ex 2ex;
}

p.linkonly {
    font-size: small;
	margin-left: 3ex;
}


ul.contents {
    list-style: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
    caption-side: bottom;
}

table th,td {
	border: thin #999 solid;
}

th {
	color: inherit;
	background-color: #bbb;
}

tr.leftjust th {
	text-align: left;
}

th, td {
	padding: 0.1ex 0.5ex;
}

caption {
    margin: 0.1ex 2ex 0.5ex 2.5ex;
    text-align: left;
    background-color: inherit;
    color: #333;
}

ul,or,dl {
    margin: 0.5ex;
}

tr.obsolete td {
    color: inherit;
    background-color: #eee;
}

ul.contents {
    margin-left: 0.5ex;
    padding-left: 1ex;
}

ul.contents li {
    list-style-type: none;
}

li {
    list-style-type: square;
}

code {
	font-family: courier, monospace;
	color: #060; 
	background-color: inherit;
}