/** CSS for security forms */

h1.secForm {font-size: 14pt; text-align: center}
h2.secForm {font-size: 12pt; text-align: left}
p.secFormHeader {text-align: right}
p.secForm {color: #666; background-color: inherit; font-size: 10pt}
table.secForm {border: 1px #333 solid; border-spacing: 0; min-width: 40em}
table.secForm td,th {border: 1px #333 solid; margin: 0; text-align: left; padding: 0.2ex 0.4ex}
table.secForm th {color: #666; background-color: #eee}
table.secForm .userData {color: #000; background-color: #fff; font-style: italic}
table.secForm tr.secFormSubTitle th {font-size: smaller}
.userData {color: #000; background-color: inherit; font-style: italic}
