/* version 3 style sheet for csdb */

/* global styles */
body {font-family:Helvetica, Arial, sans-serif; margin:0; padding:0}

div {margin:0; padding:0}
div.content {margin:0.5ex 20em 0.5ex 0.5ex; padding: 0.5ex 0.5ex}
div.content a.button {font-size:small}
div.fullwidth {margin:0.5ex 0 0.5ex 1ex; padding:0.5ex 1ex}
div#tools {position:absolute; top:5em; right:0; display:block;
    border:1px #900 solid; margin:1ex; padding:0.5ex;
    width:14em; max-width:14em; color:inherit; background-color:#fff;
    -moz-border-radius:4px; border-radius:4px; -webkit-border-radius:4px}
div.function {font-size:smaller; padding:0.5ex 0.2ex; margin:0.5ex 0;
    color:inherit; background-color: #fff}
div#footer {clear:both; border:#aaa solid; border-width:1px 0 0 0;
    padding:1ex; color:inherit;background-color: #eee; margin: 4px 0 0 0}
div#footer p, form {display:inline}
div.footerFunction {display:inline; font-size:smaller; padding: 1ex 0.5ex;
    margin: 0.5ex 1ex}
div.titleBar {background-color:#eee; padding-top:0.5ex}
div.titleBar p {text-align:right; background-color:#eee; margin: 0 2ex;
    font-size:x-small}
div.titleBar input {font-size:x-small}
div.menu {padding-top:10pt; background-color:#eee}

/* headings */
h1 {display:inline;float:left;font-size: 14pt; font-weight:bold;
    color:#c66; background-color:#eee; margin:0 8ex 0 1ex;
    letter-spacing:0.8ex}
h2 {font-weight:bold; font-size:14pt; color:#c66; padding:0.5ex 0.5ex 0 0.5ex;
    margin: 0 0.2ex 0.4ex 0.2ex}
h3 {font-weight:bold; font-size:12pt; margin:1ex 0.5ex;	
    padding:2px 1ex 2px 0.5ex}

/* paragraphs */
p {margin:0.5ex 0.5ex 1ex 2ex; padding:0 0.5ex}
p.button {margin:1ex 0 0.5ex 0; font-size: small}
p.buttons {text-align:right; margin-top:2ex}
p.menu {margin:0 0 2ex 0; padding:8px 0 1px 8px; font-size:small; 
    color:#000; background:#eee; border:solid #c66; border-width:0 0 1px 0}
p.menu a {margin:0; padding:0.5ex 1ex 1px 1ex; border:solid #c66; 
    border-width:0 0 1px 0; -moz-border-radius:4px 4px 0 0; 
    border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0}
p.menu a:hover {color:inherit;	background-color:#fd6}
p.greeting,p.success,p.failure {font-weight:bold; font-size:medium; padding:0.2ex 1ex; 
    -moz-border-radius:4px; border-radius:4px; -webkit-border-radius:4px}
p.greeting {color:#900; background-color:#fe9}
p.success,p.failure {color:#000}
p.success {background-color: #dec}
p.failure {background-color:#f88}

/* tables */
table {margin:1ex; padding:1px 1ex; empty-cells:show}
table.boxed td {border:1px solid #ccc; white-space:nowrap; padding:0 4px;
    -moz-border-radius:4px 0 0 0; border-radius:4px 0 0 0; 
    -webkit-border-radius:4px 0 0 0}
table.boxed td.systemstatus {text-align:left; border:0}
th {border:1px solid #ccc; color:#000; background-color:#eee; padding:0 1ex;
    font-weight: normal;
    -moz-border-radius:4px 0 0 0; border-radius:4px 0 0 0; 
    -webkit-border-radius:4px 0 0 0}
th.right,td.right {text-align:right}

tr, th, td {text-align:left}
tr.itsMe {color:inherit; background-color:#eee}

td {white-space:nowrap; padding:0 0.6ex 0 0.4ex}
td.inv_live {background-color:#9c9}
td.inv_mute {background-color:#9cc}
td.inv_dead {background-color:#f60}
td.inv_away {background-color:#c0f}
td.grey {background-color: #eee}

/* lists */
ul {list-style-type:square; margin-left: 0.5ex}
dl.msgs {margin: 0.5ex}
ul.msgs {margin: 0.5ex}
dt.headline {background-color:#eee; padding: 0.5ex 1ex}
dl.msgs dd {padding:0.5ex 1ex; margin:0}    
ul.msgs li {list-style-type:none; padding:0.5ex 1ex; margin:0 0 1ex 0}    
dd.latest {background-color:#ffc}
ul {margin:0.5ex 2ex; padding-left:0.5ex}
ul.faqs {padding-left:0; margin: 0.5ex}
ul.faqs li {list-style-type:none; margin-left:0.5ex; padding:0}

/* anchors */
a:link {color:#00f; background-color:transparent}
a:visited {color:#909; background-color:transparent}
a:hover {color:inherit; background-color:#fd6}
a.button {text-decoration:none; border:1px solid #d96; padding:1px 4px;
    margin:0 0.5ex;
    -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px}
a.button:link, a.button:visited {color:#000; background-color:#ea6; 
    text-decoration:none}
a.button:hover {color:inherit; background-color: #fd6}
a.menuTab:link, a.menuTab:visited {color:#000; background-color:#ea6; 
    text-decoration:none}
a.selected {font-weight:bold}
a.selected:link, a.selected:visited {color:#fff; background-color:#c66; 
    text-decoration:none}
a.selected {color:#fff;background-color:#c66;text-decoration:none}
a.invisible {color:#000; background-color:transparent; text-decoration:none; 
    padding:1px 0; border:solid #ccc 1px; -moz-border-radius:4px; 
    -webkit-border-radius:4px; border-radius:4px}

/* forms and related */
form {display:inline}
input,select,textarea {border:1px #d96 solid; margin:0 0.5ex 0 0.5ex; 
    padding;1px 1ex; -moz-border-radius:4px; -webkit-border-radius:4px; 
    border-radius:4px}
input.button {color:#000; background-color:#ea6; border:1px #d96 solid; 
    margin:2px 0.5ex; padding:0 2px}
input:hover {color:inherit; background-color:#fd6}
input:disabled {color:inherit; background-color:#ccc; border-color:#999}
input#logout {background-color:#fc6}

/* images */
img {border:0; margin:0; float:left}
img.button {float:right; margin:2px 1ex 0 0; padding: 0}
img.systemstatus {float: none; text-align:center; height:15px; width:15px;
    margin: 2px 4px 0 4px}

/* spans and miscellaneous */
span.spacer {color:#eee; background-color:#eee}
code {color:#060}
.date {color:#666; font-style:italic; font-size:smaller}
.alert {color: #ff3; background-color:#c00; font-weight:bold; padding:1px 2px}
.centre {text-align:center}
.healthySystem {background-color:#bda; padding:1px 2px}
.sicklySystem {background-color:#ff0; padding: 1px 2px}
.knownDeadSystem {background-color:#f88; padding: 1px 2px}
.deadSystem {background-color:#f66; padding:1px 2px}
.grey {background-color:#ccc}
.greytext {color:#666}
.notImportant {color:#666}
.reqd {background-color:#f66}

